  <li class="product">

    <div class="product-upvote text-center">
      <% if policy(ReportVote.new(report: report)).create? %>
        <%= link_to report_report_votes_path(report), method: :post do %>
      <i class="fa fa-caret-up"></i>Hello
      <% end %>
      <% end %>
      <p><%= report.report_votes.count %></p>
      </div>

    <%= image_tag 'placeholder.jpg', class: 'product-image rounded' %>

    <div class="product-description">
      <h3>Report #<%= report.id %></h3>
      <p><%= report.content.first(280) %>... <%= link_to "See More", report_path(report) %></p>

      <ul class="list-inline product-controls">
        <li><a href=""><i class="fab fa-instagram"></i></a></li>
        <li><a href=""><i class="fab fa-facebook"></i></a></li>
        <li><a href=""><i class="fab fa-twitter"></i></a></li>
      </ul>
    </div>
    <div class="bookmark-container">
     <% if policy(ReportBookmark.new(report: report)).create? %>
     <%= link_to report_report_bookmarks_path(report), method: :post do %>
     <i class="far fa-bookmark"></i>
     <% end %>
     <% else %>
     <%= link_to report_report_bookmark_path(report), method: :delete do %>
     <i class="fas fa-bookmark"></i>
     <% end %>
     <% end %>
   </div>
 </li>
