    <div class="card-report">
      <div class="card-report-infos">
        <div class="card-report-content">
          <small><%= report.content %></small>
          <%= link_to "See More", report_path(report) %>
          <p><i class="fas fa-map-marker-alt"></i> <%= report.address %></p>
          <p><i class="fas fa-address-card"></i> <%= link_to report.officer.first_name, officer_path(report.officer) %></p>
        </div>
        <img src="https://ktla.com/wp-content/uploads/sites/4/2020/06/GettyImages-1216828423.jpg?w=2560&h=1440&crop=1" />
      </div>
      <div class="card-bottom-container">
        <div class="card-report-tags">
          <% report.tags.each do |tag| %>
          <p class="report-tag-pill"><%= tag.name %></p>
          <% end %>
        </div>
        <div class="card-report-user">
          <!-- removed user avatar -->
          <div class="list-inline product-controls">
            <li><a href=""><i class="fa fa-flag"></i></a></li>
            <li><a href=""><i class="fa fa-share"></i></a></li>
            <li><a href=""><i class="fa fa-star"></i></a></li>
          </div>
        </div>
      </div>
    </div>

