
<div class="card-report">
  <div class="card-report-infos">
    <div class="card-report-content">
    <p><small><%= report.content.first(50) %>...</small> <%= link_to "See More", report_path(report) %></p>
      <p><small><%= report.created_at.strftime("%e %b %Y %H:%M:%S%p") %></small></p>
      <!-- <p><i class="fas fa-map-marker-alt"></i> <%= report.address %></p> -->
      <p><i class="fas fa-address-card"></i> <%= link_to "#{report.officer.first_name} #{report.officer.last_name}", officer_path(report.officer) %></p>
    </div>
    <img src="https://ktla.com/wp-content/uploads/sites/4/2020/06/GettyImages-1216828423.jpg?w=2560&h=1440&crop=1" />
  </div>

    <div class="card-bottom-container">
      <div class="card-report-tags">
        <% report.report_tags.each do |rt| %>
        <div class="report-tag-bubble">
          <p><%= rt.tag.name %></p>
        </div>
      <% end %>
      <div class="card-report-user">
        <!-- removed user avatar -->
        <div class="list-inline product-controls">
          <li><a href=""><i class="fa fa-flag"></i></a></li>
          <li><a href=""><i class="fa fa-share"></i></a></li>
          <li><a href=""><i class="fa fa-star"></i></a></li>
        </div>
      </div>
    </div>

    <div class="report-info">
      <div class="report-content-container d-flex">
        <% if report.evaluation == "positive" %>
          <div class="report-evaluation d-flex justify-content-center align-items-center col-3 text-success">
            <p><%= report.evaluation %></p>
          </div>
        <% elsif report.evaluation == "negative" %>
          <div class="report-evaluation d-flex justify-content-center align-items-center col-3 text-success">
            <p><%= report.evaluation %></p>
          </div>
        <% elsif report.evaluation == "netural" %>
          <div class="report-evaluation d-flex justify-content-center align-items-center col-3 text-secondary">
            <p><%= report.evaluation %></p>
          </div>
        <% end %>
        <p>Votes: <%= report.report_votes.count %></p>
        <% if policy(ReportVote.new(report: report)).create? %>
          <%= link_to 'Upvote', report_report_votes_path(report), method: :post %>
        <% end %>
      </div>
    </div>
  </div>
</div>





