
<div class="product">
    <div class="product-upvote text-center" data-report="upvote-<%= report.id %>">
      <%= render 'report_votes/upvote', report: report %>
      </div>
      <% if report.photos.attached? %>
        <% report.photos.each do |photo| %>
        <% if photo.blob.content_type == "image/jpeg" %>
         <%= cl_image_tag photo.key, width: 200 %>
         <% else %>
          <%= cl_video_tag photo.key, width: 200 %>
         <% end %>
       <% end %>
      <% else %>
        <%= image_tag 'placeholder.svg', class: 'product-image rounded' %>
      <% end %>
    <div class="product-description">
      <div class="report-title">
      <h3>Report #<%= report.id %></h3>
      <div class="evaluation-container" style="position: top;">
    <% if report.evaluation == "positive" %>
        <div class="evaluation btn-success text-center rounded">
          <p><%= report.evaluation %></p>
        </div>
        <% elsif report.evaluation == "negative" %>
        <div class="evaluation btn-danger text-center rounded">
          <p><%= report.evaluation %></p>
        </div>
        <% elsif report.evaluation == "neutral" %>
        <div class="evaluation btn-secondary text-center rounded">
          <p><%= report.evaluation %></p>
        </div>
      <% end %>
    </div>
    </div>

      <p><small><%= report.created_at.strftime("%e %b %Y %H:%M:%S%p") %></small></p>
      <p><%= report.content.first(280) %>... <%= link_to "See More", report_path(report), data: {no_turbolink: true} %></p>
      <% report.tags.first(3).each do |tag| %>
        <label class="tag-choice no-hover" for="report_tag_ids_<%= tag.id %>"><%= tag.name %></label>
        <% end %>
    </div>
    <div class="bookmark-container" data-bookmark="bookmark-<%= report.id %>">
     <%= render 'report_bookmarks/bookmark', report: report %>
   </div>
 </div>
