

  <li class="product">
    <div class="product-upvote text-center">
      <% if policy(ReportVote.new(report: report)).create? %>
        <%= link_to report_report_votes_path(report), method: :post do %>
      <i class="fa fa-caret-up"></i>
      <% end %>
      <% end %>
      <p><%= report.report_votes.count %></p>
      </div>
      <% if report.photos.attached? %>
        <% report.photos.each do |photo| %>
         <%= cl_image_tag photo.key, width: 200 %>
       <% end %>
      <% else %>
        <%= image_tag 'placeholder.svg', class: 'product-image rounded' %>
      <% end %>
    <div class="product-description">
      <h3>Report #<%= report.id %></h3>
      <p><small><%= report.created_at.strftime("%e %b %Y %H:%M:%S%p") %></small></p>
      <p><%= report.content.first(280) %>... <%= link_to "See More", report_path(report) %></p>

      <ul class="list-inline product-controls">
        <li><a href=""><i class="fab fa-instagram"></i></a></li>
        <li><a href=""><i class="fab fa-facebook"></i></a></li>
        <li><a href=""><i class="fab fa-twitter"></i></a></li>
      </ul>
    </div>

    <div class="evaluation-container" style="position: top;">
    <% if report.evaluation == "positive" %>
        <div class="report-evaluation d-flex justify-content-center align-items-center col-3 text-success">
          <p><%= report.evaluation %></p>
        </div>
        <% elsif report.evaluation == "negative" %>
        <div class="report-evaluation d-flex justify-content-center align-items-center col-3 text-danger">
          <p><%= report.evaluation %></p>
        </div>
        <% elsif report.evaluation == "netural" %>
        <div class="report-evaluation d-flex justify-content-center align-items-center col-3 text-secondary">
          <p><%= report.evaluation %></p>
        </div>
      <% end %>
    </div>

    <div class="bookmark-container">
     <% if policy(ReportBookmark.new(report: report)).create? %>
     <%= link_to report_report_bookmarks_path(report), method: :post do %>
     <i class="far fa-bookmark"></i>
     <% end %>
     <% else %>
     <%= link_to report_report_bookmark_path(report), method: :delete do %>
     <i class="fas fa-bookmark"></i>
     <% end %>
     <% end %>
   </div>
 </li>
