<div class="card-report">
    <div class="report-info">
        <div class="report-content-container d-flex">
            <% if report.evaluation == "positive" %>
                <div class="report-evaluation d-flex justify-content-center align-items-center col-3 text-success">
                    <p><%= report.evaluation %></p>
                </div>
            <% elsif report.evaluation == "negative" %>
                <div class="report-evaluation d-flex justify-content-center align-items-center col-3 text-success">
                    <p><%= report.evaluation %></p>
                </div>
            <% elsif report.evaluation == "netural" %>
                <div class="report-evaluation d-flex justify-content-center align-items-center col-3 text-secondary">
                    <p><%= report.evaluation %></p>
                </div>
            <% end %>
            <div class="report-content col-9">
                <%= link_to "#{report.officer.first_name} #{report.officer.last_name}", officer_path(report.officer) %>
                <small><%= report.created_at.strftime("%e %b %Y %H:%M:%S%p") %></small>
                <% report.report_tags.each do |rt| %>
                    <div class="report-tag-bubble">
                        <p><%= acronymize(rt.tag.name) %></p>
                    </div>
                <% end %>
            </div>
        </div>

        <div class="report-user-info"></div>
    </div>
</div>


