<% if options[:button_name] == 'facebook' %>
  <a target="_blank" href="<%= options[:url] %>">
    <i class="fab fa-facebook"></i>
  </a>
<% elsif options[:button_name] == 'linkedin' %>
  <a target="_blank" href="<%= options[:url] %>">
    Add your Fontawesome
  </a>
<% elsif options[:button_name] == 'twitter' %>
  <a target="_blank" href="<%= options[:url] %>">
    Add your Fontawesome
  </a>
<% elsif options[:button_name] == 'pinterest' %>
  <a target="_blank" href="<%= options[:url] %>">
    Add your Fontawesome
  </a>
<% elsif options[:button_name] == 'google_plus' %>
  <a target="_blank" href="<%= options[:url] %>">
    Add your Fontawesome
  </a>
<% elsif options[:button_name] == 'reddit' %>
  <a target="_blank" href="<%= options[:url] %>">
    Add your Fontawesome
  </a>
<% end %>
