<div class="container padding-top-xl">
  <div id="map" style="width: 100%; height: 100vh;" data-markers="<%= @markers.to_json %>"
    >
    <!-- map goes here -->
  </div>

  <div class="index-search">
    <%= form_tag cities_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control nav-search-group",
      id: "nav-search",
      placeholder: "Find a city by name or state"
      %>
      <%= submit_tag "Search", class: "btn ml-2 nav-search-group" %>
      <% end %>
    </div>


    <div class="cards-container" id="cities">
      <div class="row">
        <% if @cities.empty? %>
        <p>Sorry, there are no cities available that match your search. Try again.</p>
        <% else %>
        <%= render "shared/card-frontpage" %>
        <% end %>
      </div>
    </div>
  </div>

