<div class="container padding-top-xl">
      <div id="map" style="width: 100%; height: 100vh;" data-markers="<%= @markers.to_json %>"
        >
        <!-- map goes here -->
      </div>

<div class="container py-4">
  <div class="search-container">
<div class="search-form">
<%= form_tag cities_path, method: :get, class: "d-flex search-bar" do %>
  <%= text_field_tag :query,
  params[:query],
  class: "form-control nav-search-group",
    id: "nav-search",
    placeholder: "Find a city by name or state"
    %>
    <%= submit_tag "Search", class: "btn btn-outline-dark ml-2" %>
    <% end %>
</div>
<div><%= link_to "Filter", root_path, class:'btn btn-outline-dark' %> </div>
</div>

</div>


    <div class="container cards-container" id="cities">
      <div class="row">
        <% if @cities.empty? %>
        <p>Sorry, there are no cities available that match your search. Try again.</p>
        <% else %>
        <%= render "shared/card-frontpage" %>
        <% end %>
      </div>
    </div>
  </div>

