
<div style="padding-top: 5rem">
    <div class="city-banner <%= @city.city_class_name %>-banner">

        <div id="city-title">
          <h1 class="text-center"><%= @city.name %></h1>
          <%= link_to "Write a Report", new_report_path, class: "new-report-button btn btn-outline-dark align-self-center"%>
        </div>
    </div>
</div>

<div class="container-fluid px-4 py-4 padding-top-xl">
  <div class="row content">
    <div class="col-md-6">
      <div id="map" style="width: 100%; height: 100vh;" data-markers="<%= @markers.to_json %>">
        <!-- map goes here -->

      </div>
    </div>
    <div class="col-md-6">
      <ul class="nav nav-tabs my-2 justify-content-center" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="statistics-tab" data-toggle="tab" href="#statistics" role="tab" aria-controls="statistics" aria-selected="true">By the numbers</a>
        </li>
        <li class="nav-item reports-container-tab">
          <a class="nav-link" id="reports-tab" data-toggle="tab" href="#reports" role="tab" aria-controls="reports" aria-selected="false">Reports</a>
        </li>
      </ul>
      <div class="tab-content" id="statTabContent">
        <!-- Statistics of reports -->
        <div class="tab-pane fade show active" id="statistics" role="tabpanel" aria-labelledby="statistics-tab">

        <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">

        <%= pie_chart (@city.types_of_reports) %>
        <%= bar_chart(City.complaints_by_city) %>g

        </div>
        <!-- Reports + Find by Tags -->
        <div class="tab-pane fade" id="reports" role="tabpanel" aria-labelledby="reports-tab">
          <%= form_tag city_path(@city), method: :get, remote: true, id: 'tag-search', class: 'form-inline search-bar', id: "tag-search" do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Search by Tag"
            %>
            <%= submit_tag "Search", class: "btn btn-outline-dark submit-button" %>
          <% end %>
          <div class="report-container">
              <% @reports.each do |report| %>
              <ul class="list-unstyled">
                <%= render partial: 'shared/reports-list', locals: { report: report } %>
              </ul>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

