<%= set_meta_tags title: "Report ##{@report.id}",
              description: "#{@report.content.truncate(150)}",
              keywords: 'Police Brutality, Police, Police Accountability',
              og: { title: "Report ##{@report.id}", url: "https://project-uphold.herokuapp.com/reports/#{@report.id}", type: "website", description: "#{@report.content.truncate(150)}", image: { _: @report.photos.first ? "#{cl_image_path @report.photos.first.key}.jpg" : "https://images.unsplash.com/photo-1585236534996-3b117bec1b61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80.jpg", secure_url: @report.photos.first ? "#{cl_image_path @report.photos.first.key}.jpg" : "https://images.unsplash.com/photo-1585236534996-3b117bec1b61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80.jpg", type: "image/jpg", width: 400, height: 400 }} %>


<div class="banner" style="height: 400px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1585236534996-3b117bec1b61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80');">
</div>
<div class="container show">
  <h2 id="pro-head">Report #<%= @report.id %></h2>
  <div class="row">
    <div class="col-md-4 img">
      <% if @report.photos.attached? %>
        <% @report.photos.each do |photo| %>
          <% if photo.blob.content_type == "image/jpeg" %>
            <%= cl_image_tag photo.key, width: 200 %>
         <% else %>
          <%= cl_video_tag photo.key, width: 200, controls: true, loop: true %>

         <% end %>
       <% end %>
      <% else %>
        <%= image_tag 'placeholder.svg', class: 'product-image rounded' %>
      <% end %>
    </div>
    <div class="col-md-8 details">
      <p><%= @report.content %></p>
      <h5><i class="fas fa-map-marker-alt"></i> <%= @report.address %></h5>
      <br>
      <h5><i class="fas fa-address-card"></i> <%= link_to "#{@report.officer.first_name} #{@report.officer.last_name}", officer_path(@report.officer) %></h5>
      <br>
      Created: <%= @report.created_at.strftime('%A, %d %b %Y %l:%M %p') %>
      <br>
      <div id="fb-root"></div>
      <div class="fb-share-button"
        data-href="http://www.projectuphold.com/reports/<%= @report.id %>"
        data-layout="button_count">
      </div>
    </div>
  </div>
</div>

<script>
  (function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'))
</script>
